@font-face {
    font-family: "allura" ;
    src: url(../font/Allura/Allura-Regular.ttf);
}
@font-face {
    font-family: "poppins" ;
    src: url(../font/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: "baskerville";
    src: url(../font/BaskervvilleSC-Regular.ttf);
}
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
   
    color: white;
}
body{
    font-family: "poppins";
}

main{
     background-color: #21201e;
}
/* Bannière */

#banner{
    background-image: url(../image/bg-slider-06.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
    position: relative;
    padding: 2rem 0;
}
.nav{
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
}
.logo h1{
    font-family: "allura";
}
.barnav{
    text-transform: uppercase;
    font-weight: lighter;
    font-size: small;  
}
.barnav ul{
    display: flex;
    justify-content: space-around;
    padding: 0 2rem;
}
.barnav li{
    display: flex;
    justify-content: space-around;
    padding: 0 2rem;
}
.iconslink a{
    padding: 0 1rem;
}
.banner-content{
    display: flex;
    /* justify-content: center;
    align-content: center; */
    align-items: center;
}

/* contenu - STORE */
#store{
    display: flex;
    justify-content: center;
    background-color: white; 
}
.card-store{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border: 1px solid #ab753b;
    margin: 20px 20px;
}
.card-content{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;  
 }
.card-content h3{
   font-family: "allura";
   font-size: 3em;
   color: #ab753b;
   font-weight: lighter;
   margin-top: 70px;
   line-height: 0.2;
  
   
}
.card-content h4{
    font-size: 2em;
    text-transform: uppercase;
    color: black;
    padding-bottom: 30px;
    
}
.card-content p{
    font-size: 0.8em;
    text-align: center;
    padding: 50px ;
    color: black;
}
.card-content span{
    font-size: 0.8em;
    text-align: center;
    padding: 50px ;
    color: rgb(146, 138, 138);
    text-transform: uppercase;
}
.cercle-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover; /* ajuste l'image dans le cercle */
}
.card-store img{
    object-fit: cover;
}

/* contenu - MENU */
#menu{
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    height: 1000px;
    position: relative;

}
.nav-content h3{
    font-family: "allura";
    font-size: 3em;
    color: #ab753b;
    font-weight: lighter;
    text-align: center;
    margin-top: 50px;
}
.nav-content img{
    justify-content: center;
}
.menu{
    display: flex;
    text-decoration: underline;
    justify-content: center;
    margin-bottom: 50px;
    
}
.menu li{
    justify-content: space-around;
    padding: 40px;
    font-family: "baskerville";
    font-size: 1.2em;
}

.plats{
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    width: 70%;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translate(-50%);
}
.plats img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
}
.menu-item {
    width: 48%;
    display: flex;
    align-items: center;
    margin: 40px 0;
   
}
.designation{
    flex-grow: 1;
    margin-left: 40px;

}
.designation h4{
    font-size: 1.1em;
    margin-bottom: 5px;
    font-family: "baskerville";
    font-weight: lighter;
    color: black;

}
.designation h5{ 
    font-size: 14px;
    color: #666;
     
}
.price{
    font-size: 20px;
    font-weight: bold;
    color: #ab753b;
    margin: 0 20px;
}

.backpicture{
    background-image: url(../image/bg-menu-01.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.backpicture::before{
    content: "";
    position: absolute;
    
}
.backpicture{
    width: 100%;
    height: 700px;
    object-fit: cover;
    margin-top: 120px;
}

/* contenu - Gallery************************* */
#gallery{
    display: flex;
    flex-direction: column;
}
.title-gallery{
    text-align: center;
}
.title-gallery h3{
    font-family: "allura";
    font-size: 3em;
    color: #ab753b;
    font-weight: lighter;
}
.pictures{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: center;
    margin: auto;
}
.pictures img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 10px;
}
#gallery .btn{
    border:1px solid white;
    color: white;
    padding:10px;
    text-align: center;
    display: inline-block;
    font-size:px;
    text-transform: uppercase;
    margin: 50px 700px;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s, transform 0.2s;
}
#gallery .btn:hover{
    background-color: white ;
    color: black;
    transform: scale(1.05);
}
