@font-face {
    font-family: "allura" ;
    src: url(../font/Allura/Allura-Regular.ttf);
}
@font-face {
    font-family: "poppins" ;
    src: url(../font/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: "baskerville";
    src: url(../font/BaskervvilleSC-Regular.ttf);
}
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: "poppins";
    color: white;
}

main{
     background-color: #21201e;
}

footer{
    background-color: #21201e;
}
/* Bannière *********************************************/

#banner{
    background-image: url(../image/bg-slider-06.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
    /* position: relative; */
    padding: 2rem 0;
}
.nav{
    display: flex;
    justify-content: space-around;
}
.logo P{
    font-family: "allura";
    font-size: 3em;
    color: #ab753b;
    font-weight: lighter;
}
.barnav{
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1.2em;  
}
.barnav ul{
    display: flex;
    justify-content: space-around;
    padding: 0 2rem;
}
.barnav li{
    display: flex;
    justify-content: space-around;
    padding: 0 2rem;
  
}
.barnav a{
    color: white;
}
.iconslink a{
    padding: 0 1rem;
    color: white;
}
.banner-content{
    display: flex;
}
.banner-content h2{
    font-family: "allura";
    font-size: 3em;
    color: #ab753b;
    font-weight: lighter;
}
.banner-content h1{
    font-size: 3em;
    font-weight: lighter;
    text-transform: uppercase;
}
.banner-content p{
    font-weight: lighter;
    text-transform: uppercase;
}

/************************ contenu - STORE */
#store{
    display: flex;
    justify-content: center;
    background-color: white; 
    width: 100%;
}
.card-store{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border: 1px solid #ab753b;
    margin: 20px 20px;
}
.card-content{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;  
 }
.card-content h3{
   font-family: "allura";
   font-size: 3em;
   color: #ab753b;
   font-weight: lighter;
   margin-top: 70px;
   line-height: 0.2;
}
.card-content h4{
    font-size: 2em;
    text-transform: uppercase;
    color: black;
    padding-bottom: 30px;
    
}
.card-content p{
    font-size: 0.8em;
    text-align: center;
    padding: 50px ;
    color: black;
}
.card-content span{
    font-size: 0.8em;
    text-align: center;
    padding: 50px ;
    color: rgb(146, 138, 138);
    text-transform: uppercase;
}
.cercle-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover; /* ajuste l'image dans le cercle */
}
.card-store img{
    object-fit: cover;
}
.encart{
    width: 50%;
    object-fit: cover;
}
/* contenu - MENU **************************************/
#menu{
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    height: 1000px;
    position: relative;
}
.nav-content h3{
    font-family: "allura";
    font-size: 3em;
    color: #ab753b;
    font-weight: lighter;
    text-align: center;
    margin-top: 50px;
}
.nav-content img{
    justify-content: center;
}
.menu{
    display: flex;
    text-decoration: underline;
    justify-content: center;
    margin-bottom: 50px;
    
}
.menu li{
    justify-content: space-around;
    padding: 40px;
    font-family: "baskerville";
    font-size: 1.5em;
}

.plats{
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    width: 70%;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translate(-50%);
}
.plats img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 30px;
}
.menu-item {
    width: 48%;
    display: flex;
    align-items: center;
    margin: 40px 0;
   
}
.designation{
    flex-grow: 1;
    margin-left: 40px;
}
.designation h4{
    font-size: 1.3em;
    margin-bottom: 5px;
    font-family: "baskerville";
    font-weight: lighter;
    color: black;
}
.designation h5{ 
    font-size: 18px;
    color: #666;   
}
.price{
    font-size: 24px;
    font-weight: bold;
    color: #ab753b;
    margin: 0 20px;
}

.backpicture{
    background-image: url(../image/bg-menu-01.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.backpicture::before{
    content: "";
    position: absolute;
    
}
.backpicture{
    width: 100%;
    height: 700px;
    object-fit: cover;
    margin-top: 120px;
}

/* contnu - RESERVATION************************ */
#reserv{
    display: flex;
    justify-content: center;
    background-color: black;
    width: 1200px;
    margin: auto;
    margin-top: 150px;
}
.open{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    border: 1px solid #ab753b;
    padding: 60px;
    margin: 30px;
    text-align: center;
}
.open h3{
    font-family: "allura";
    font-size: 3em;
    color: #ab753b;
    font-weight: lighter;
    text-align: center;
    margin-top: 50px;
    line-height: 0.2;
}
.open h4{
    font-size: 2em;
    text-transform: uppercase;
    padding-bottom: 30px;
    
}
.open h5{
    font-weight: lighter;
    font-size: 1.2em;
    padding-bottom: 30px;
    font-family: "baskerville";
    color: #ab753b;
    
}
.open h6{
    font-size: 0.8em;
    padding-bottom: 30px;
    font-weight: lighter;
    line-height: 0.1;
    
}
.booking{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
}
.booking h3{
    font-family: "allura";
    font-size: 3em;
    color: #ab753b;
    font-weight: lighter;
    text-align: center;
    margin-top: 130px;
    line-height: 0.2;
}
.booking h4{
    font-size: 2em;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.formulaire{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "people date time"
    "name phone email";
    padding: 50px;
}
.formulaire div{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.people{
    grid-area: people;
    padding: 10px;
    border: none;
}
.date{
    grid-area: date;
    padding: 10px;
}
.time{
    grid-area: time;
    padding: 10px;
}
.name{
    grid-area: name;
    padding: 10px;
}
.phone{
    grid-area: phone;
    padding: 10px;
}
.email{
    grid-area: email;
    padding: 10px;
}

.btn2{
    background-color:black ;
    text-align: center;
    /* display: inline-block; */
    font-size:2em;
    margin: 20px;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s, transform 0.2s;
}
.btn2:hover{
    background-color: ;
    transform: scale(1.05);
}
.btn2:active{
    background-color: ;
    transform: scale(0.98);
}
/* contenu - Gallery************************* */
#gallery{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
.title-gallery{
    text-align: center;
}
.title-gallery h3{
    font-family: "allura";
    font-size: 3em;
    color: #ab753b;
    font-weight: lighter;
    line-height: 0.2;
}
.title-gallery h4{
    text-transform: uppercase;
    font-size: 2em;
    margin-bottom: 20px;
}
.pictures{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.pictures img{
    width: 700px;
    height: 600px;
    object-fit: cover;
    margin: 10px;
}
#gallery .btn{
    border:1px solid white;
    color: white;
    padding:10px;
    text-align: center;
    display: inline-block;
    font-size:px;
    text-transform: uppercase;
    margin: 50px 700px;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s, transform 0.2s;
}
#gallery .btn:hover{
    background-color: white ;
    color: black;
    transform: scale(1.05);
}

/* *********************contenu - SHOP */
#shop{
    display: flex;
    flex-direction: column;
    margin-top: 110px;
    width: 100%;
}

.titreboutique{
    text-align: center;
}
.titreboutique h3{
    font-family: "allura";
    font-size: 3em;
    color: #ab753b;
    font-weight: lighter;
    line-height: 0.2;
}
.titreboutique h4{
    text-transform: uppercase;
    font-size: 2em;
    margin-bottom: 20px;
}
.titleshop{
    display: flex;
    width: 50%;
}
.shopcontent{
    display: flex;
    width: 50%;

}
.photoshop{
    display: flex;
    width: 150px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 25%;
}
.photoshop2{
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 50%;
}
.titledate{
    width: 110px;
    height: 110px;
    background-color: black;
    text-align: center;
    align-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(22%,-50%);
    
}
.titledate2{
    width: 110px;
    height: 110px;
    background-color: black;
    text-align: center;
    align-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(22%,-50%);
    
}
.titledate h5{
    font-size: 1.8em;
   
}
.titledate2 h5{
    font-size: 1.8em;
   
}
.ticket{
    display: flex;
    background-color: white;
    width: 25%
}
.ticket2{
    display: flex;
    background-color: white;
    color: black;
    flex-direction: column;
    position: absolute;
    width: 450px;
    height: 450px;
    left: 50%;
   

}
.ticket h4{
    color: black;
    font-size: 1.2em;
}
.ticket2 h4{
    color: black;
    font-size: 1.2em;
}
.ticket p{
    color: gray;
    font-size: 0.7em;
    font-weight: lighter;

}
.ticket2 p{
    color: gray;
    font-size: 0.7em;
    font-weight: lighter;

}
/* *************************CONTENU - CITATION */
#citation{
    display: flex;
    justify-content: center;
    

}
.cercle{
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    /* background-position: center; */
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%,-90%);
   

}
.citation{
    color: grey;
    background-color: white;
    text-align: center;
    padding: 100px 50px;
    margin: auto;
    position: relative;
    width: 80%;
    margin-bottom: 50px;
    margin-top: 50px;
}
.citation::before{
    content: "";
    position:absolute;

}
/* **************FOOTER*************************** */
footer{
    display: flex;
    margin: auto;
    width: 100%;
}
.resto{
    width: 50%;
    background-color: black;
    padding-left: 200px;
}
.resto h3{
    font-family: "allura";
    font-size: 3em;
    color: #ab753b;
    font-weight: lighter;
    line-height: 0.2;
    margin: 50px 0;
}
.resto p{
    color: grey;
    font-size: 0.8em;
    width: 80%;
    padding-bottom: 50px;
}
.newsletter{
    width: 50%;
    text-align: center;
}
.follow{
    width: 50%;
    display: flex;
    margin: auto;
}
.follow a{
    color: grey;
    display: flex;
    flex-direction: row;

}

@media screen and (max-width: 1242px;){
    .formulaire div{
        flex-direction:column;
    }
} 

